.card-title .ui-card-title {
    background: #3f51b5;
    padding: 0.3em;
    font-size: 1.2em;
    font-weight: normal;
    color: white;
}

.whole-card .ui-card-body {
    padding: 0em 0em 1em 0em;
}

.left-card .ui-card-content {
    padding: 1em;
}